AZURITE_HOST=localhost
AZURITE_BLOB_PORT=10000
AZURITE_ACCOUNT_NAME=flowphpaccount01
AZURITE_ACCOUNT_KEY=flowphpkey01
S3_ENDPOINT=http://localhost:9000
S3_REGION=us-east-1
S3_ACCESS_KEY_ID=minioadmin
S3_SECRET_ACCESS_KEY=minioadmin
S3_BUCKET=flowphpbucket01
SFTP_HOST=localhost
SFTP_PORT=2222
SFTP_USER=flow
SFTP_PASSWORD=flow
REDIS_HOST=localhost
REDIS_PORT=6379
PGSQL_DATABASE_URL=pgsql://postgres:postgres@127.0.0.1:5432/postgres?serverVersion=18&charset=utf8
MYSQL_DATABASE_URL=mysql://mysql:mysql@127.0.0.1:3306/mysql
SQLITE_DATABASE_PATH=${FLOW_MONOREPO_PROJECT_ROOT}/var/db/sqlite/test.db
ELASTICSEARCH_URL=http://127.0.0.1:9200
OTEL_COLLECTOR_HTTP_ENDPOINT=http://localhost:4318
OTEL_COLLECTOR_OUTPUT_DIR=${FLOW_MONOREPO_PROJECT_ROOT}/var/otel
OTEL_RECEIVER_HTTP_ENDPOINT=http://localhost:4318
OTEL_RECEIVER_GRPC_ENDPOINT=localhost:4317
OTEL_COLLECTOR_METRICS_ENDPOINT=http://localhost:8888/metrics
FLOW_LOCAL_FILESYSTEM_CACHE_DIR=${FLOW_MONOREPO_PROJECT_ROOT}/var/cache
FLOW_PARQUET_TESTS_DEBUG=0
