services:
    postgres:
        image: postgres:13.6-alpine
        container_name: flow-php-postgres
        ports:
            - 5432:5432
        environment:
            - POSTGRES_USER=postgres
            - POSTGRES_PASSWORD=postgres
            - POSTGRES_DB=postgres
    mysql:
        image: mysql:8.0.31
        container_name: flow-php-mysql
        ports:
            - 3306:3306
        environment:
            MYSQL_USER: mysql
            MYSQL_PASSWORD: mysql
            MYSQL_DATABASE: mysql
            MYSQL_ROOT_PASSWORD: root
    elasticsearch:
        image: elasticsearch:7.17.2
        container_name: flow-php-elasticsearch
        ports:
            - 9200:9200
        environment:
            - node.name=es01
            - discovery.type=single-node
            - bootstrap.memory_lock=true
            - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
