version: '2.2'
services:
    elasticsearch:
        image: elasticsearch:7.12.0
        container_name: flow-test-elasticsearch
        ports:
            - 9200:9200
        environment:
          - node.name=es01
          - discovery.type=single-node
          - bootstrap.memory_lock=true
          - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
        networks:
          - elastic

networks:
  elastic:
    driver: bridge
