{
  "$schema": "./tools/phpbench/vendor/phpbench/phpbench/phpbench.schema.json",
  "runner.bootstrap": "vendor/autoload.php",
  "report.generators": {
    "flow-report": {
      "generator": "expression",
      "cols": {
        "package": null,
        "benchmark": null,
        "subject": null,
        "revs": null,
        "its": null,
        "mem_peak": null,
        "mode": null,
        "total_time": null,
        "rstdev": null
      },
      "expressions": {
        "package": "first(subject_groups)",
        "mode": "display_as_time(mode(partition['result_time_avg']), \"milliseconds\")",
        "total_time": "display_as_time(sum(result_time_net), \"milliseconds\", 2, \"time\")"
      }
    }
  },
  "runner.path": [
    "src/adapter/etl-adapter-csv/tests/Flow/ETL/Adapter/CSV/Tests/Benchmark/",
    "src/adapter/etl-adapter-doctrine/tests/Flow/ETL/Adapter/Doctrine/Tests/Benchmark/",
    "src/adapter/etl-adapter-excel/tests/Flow/ETL/Adapter/Excel/Tests/Benchmark/",
    "src/adapter/etl-adapter-json/tests/Flow/ETL/Adapter/JSON/Tests/Benchmark/",
    "src/adapter/etl-adapter-parquet/tests/Flow/ETL/Adapter/Parquet/Tests/Benchmark/",
    "src/adapter/etl-adapter-postgresql/tests/Flow/ETL/Adapter/PostgreSql/Tests/Benchmark/",
    "src/adapter/etl-adapter-text/tests/Flow/ETL/Adapter/Text/Tests/Benchmark/",
    "src/adapter/etl-adapter-xml/tests/Flow/ETL/Adapter/XML/Tests/Benchmark/",
    "src/core/etl/tests/Flow/ETL/Tests/Benchmark/",
    "src/lib/parquet/tests/Flow/Parquet/Tests/Benchmark/",
    "src/bridge/telemetry/otlp/tests/Flow/Bridge/Telemetry/OTLP/Tests/Benchmark/"
  ],
  "runner.php_config": {
    "memory_limit": "2G",
    "opcache.enable": "1",
    "opcache.enable_cli": "1",
    "pcov.enabled": "0"
  },
  "runner.php_env": {
    "PGSQL_DATABASE_URL": "pgsql://postgres:postgres@127.0.0.1:5432/postgres?serverVersion=11&charset=utf8"
  },
  "runner.iterations": 3,
  "runner.retry_threshold": 3,
  "runner.warmup": 1,
  "storage.xml_storage_path": "var/phpbench"
}
