parameters:
    level: max
    checkGenericClassInNonGenericObjectType: false
    paths:
        - src
    excludePaths:
        - src/Flow/ETL/Formatter/ASCII/ASCIITable.php
        - src/Flow/ETL/ExternalSort/RowsMinHeap.php

    tmpDir: var/phpstan/cache
