parameters:
    level: 8
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - identifier: argument.type
        - identifier: missingType.iterableValue
    paths:
        - src/core/etl/src
        - src/cli/src
        - src/adapter/etl-adapter-chartjs/src
        - src/adapter/etl-adapter-csv/src
        - src/adapter/etl-adapter-doctrine/src
        - src/adapter/etl-adapter-elasticsearch/src
        - src/adapter/etl-adapter-google-sheet/src
        - src/adapter/etl-adapter-http/src
        - src/adapter/etl-adapter-json/src
        - src/adapter/etl-adapter-logger/src
        - src/adapter/etl-adapter-meilisearch/src
        - src/adapter/etl-adapter-parquet/src
        - src/adapter/etl-adapter-text/src
        - src/adapter/etl-adapter-xml/src
        - src/bridge/filesystem/azure/src
        - src/bridge/filesystem/async-aws/src
        - src/bridge/monolog/http/src
        - src/bridge/symfony/http-foundation/src
        - src/lib/array-dot/src
        - src/lib/azure-sdk/src
        - src/lib/doctrine-dbal-bulk/src
        - src/lib/dremel/src
        - src/lib/filesystem/src
        - src/lib/parquet/src
        - src/lib/parquet-viewer/src
        - src/lib/rdsl/src
        - src/lib/snappy/src
        - examples/topics
        - src/tools/documentation/src

    excludePaths:
        - src/cli/src/Flow/CLI/Command/*
        - src/core/etl/src/Flow/ETL/Formatter/ASCII/ASCIITable.php
        - src/core/etl/src/Flow/ETL/Sort/ExternalSort/RowsMinHeap.php
        - src/adapter/etl-adapter-elasticsearch/src/Flow/ETL/Adapter/Elasticsearch/ElasticsearchPHP/SearchResults.php
        - src/adapter/etl-adapter-elasticsearch/src/Flow/ETL/Adapter/Elasticsearch/ElasticsearchPHP/SearchParams.php
        - src/adapter/etl-adapter-elasticsearch/src/Flow/ETL/Adapter/Elasticsearch/ElasticsearchPHP/PointInTime.php
        - src/lib/parquet/src/Flow/Parquet/ThriftStream/*
        - src/lib/parquet/src/Flow/Parquet/Thrift/*
        - src/lib/parquet/src/Flow/Parquet/BinaryReader/*
        - src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/ColumnData/DefinitionConverter.php

    tmpDir: var/phpstan/cache
