<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/schema/9.2.xsd"
         colors="true"
         bootstrap="vendor/autoload.php"
         cacheResultFile="var/phpunit/.result.cache"
>
    <logging>
        <log type="coverage-html" target="var/phpunit/coverage/html" lowUpperBound="95" highLowerBound="100"/>
    </logging>
    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>

    <testsuites>
        <testsuite name="unit">
            <directory suffix=".php">tests/Flow/ETL/Tests/Unit</directory>
        </testsuite>
    </testsuites>
</phpunit>