<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         colors="true"
         bootstrap="vendor/autoload.php"
         cacheResultFile="var/phpunit/.result.cache"
  >
  <coverage>
    <include>
      <directory suffix=".php">src</directory>
    </include>
    <report>
      <html outputDirectory="var/phpunit/coverage/html" lowUpperBound="95" highLowerBound="100"/>
    </report>
  </coverage>
  <logging/>
  <testsuites>
    <testsuite name="functional">
      <directory suffix=".php">tests/Flow/ETL/Tests/Functional</directory>
    </testsuite>
  </testsuites>
</phpunit>
