<?xml version="1.0"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="tools/phpunit/vendor/phpunit/phpunit/phpunit.xsd"
        bootstrap="bootstrap.php"
        colors="true"
        displayDetailsOnTestsThatTriggerWarnings="true"
        displayDetailsOnTestsThatTriggerErrors="true"
        displayDetailsOnTestsThatTriggerDeprecations="true"
        failOnDeprecation="true"
        cacheDirectory="var/phpunit/cache"
>
    <testsuites>
        <testsuite name="etl-unit">
            <directory>src/core/etl/tests/Flow/ETL/Tests/Unit</directory>
            <directory>src/core/etl/tests/Flow/ArrayComparison/Tests/Unit</directory>
            <directory>src/core/etl/tests/Flow/Serializer/Tests/Unit</directory>
            <directory>src/core/etl/tests/Flow/Floe/Tests/Unit</directory>
            <directory>src/core/etl/tests/Flow/Calculator/Tests/Unit</directory>
        </testsuite>
        <testsuite name="etl-integration">
            <directory>src/core/etl/tests/Flow/ETL/Tests/Integration</directory>
            <directory>src/core/etl/tests/Flow/Floe/Tests/Integration</directory>
        </testsuite>
        <testsuite name="cli-unit">
            <directory>src/cli/tests/Flow/CLI/Tests/Unit</directory>
        </testsuite>
        <testsuite name="cli-integration">
            <directory>src/cli/tests/Flow/CLI/Tests/Integration</directory>
        </testsuite>
        <testsuite name="lib-array-dot-unit">
            <directory>src/lib/array-dot/tests/Flow/ArrayDot/Tests/Unit</directory>
        </testsuite>
        <testsuite name="lib-azure-sdk-unit">
            <directory>src/lib/azure-sdk/tests/Flow/Azure/SDK/Tests/Unit</directory>
        </testsuite>
        <testsuite name="lib-doctrine-dbal-bulk-unit">
            <directory>src/lib/doctrine-dbal-bulk/tests/Flow/Doctrine/Bulk/Tests/Unit</directory>
        </testsuite>
        <testsuite name="lib-doctrine-dbal-bulk-integration">
            <directory>src/lib/doctrine-dbal-bulk/tests/Flow/Doctrine/Bulk/Tests/Integration</directory>
        </testsuite>
        <testsuite name="lib-dremel-unit">
            <directory>src/lib/dremel/tests/Flow/Dremel/Tests/Unit</directory>
        </testsuite>
        <testsuite name="lib-dremel-integration">
            <directory>src/lib/dremel/tests/Flow/Dremel/Tests/Integration</directory>
        </testsuite>
        <testsuite name="lib-filesystem-unit">
            <directory>src/lib/filesystem/tests/Flow/Filesystem/Tests/Unit</directory>
        </testsuite>
        <testsuite name="lib-filesystem-integration">
            <directory>src/lib/filesystem/tests/Flow/Filesystem/Tests/Integration</directory>
        </testsuite>
        <testsuite name="lib-parquet-unit">
            <directory>src/lib/parquet/tests/Flow/Parquet/Tests/Unit</directory>
        </testsuite>
        <testsuite name="lib-parquet-integration">
            <directory>src/lib/parquet/tests/Flow/Parquet/Tests/Integration</directory>
        </testsuite>
        <testsuite name="lib-parquet-viewer-integration">
            <directory>src/lib/parquet-viewer/tests/Flow/ParquetViewer/Tests/Integration</directory>
        </testsuite>
        <testsuite name="lib-snappy-unit">
            <directory>src/lib/snappy/tests/Flow/Snappy/Tests/Unit</directory>
        </testsuite>
        <testsuite name="lib-snappy-integration">
            <directory>src/lib/snappy/tests/Flow/Snappy/Tests/Integration</directory>
        </testsuite>
        <testsuite name="lib-telemetry-unit">
            <directory>src/lib/telemetry/tests/Flow/Telemetry/Tests/Unit</directory>
        </testsuite>
        <testsuite name="lib-telemetry-integration">
            <directory>src/lib/telemetry/tests/Flow/Telemetry/Tests/Integration</directory>
        </testsuite>
        <testsuite name="lib-types-unit">
            <directory>src/lib/types/tests/Flow/Types/Tests/Unit</directory>
        </testsuite>
        <testsuite name="lib-postgresql-unit">
            <directory>src/lib/postgresql/tests/Flow/PostgreSql/Tests/Unit</directory>
        </testsuite>
        <testsuite name="lib-postgresql-integration">
            <directory>src/lib/postgresql/tests/Flow/PostgreSql/Tests/Integration</directory>
        </testsuite>
        <testsuite name="lib-postgresql-migrations-unit">
            <directory>src/lib/postgresql/tests/Flow/PostgreSql/Migrations/Tests/Unit</directory>
        </testsuite>
        <testsuite name="lib-postgresql-migrations-integration">
            <directory>src/lib/postgresql/tests/Flow/PostgreSql/Migrations/Tests/Integration</directory>
        </testsuite>
        <testsuite name="bridge-filesystem-azure-unit">
            <directory>src/bridge/filesystem/azure/tests/Flow/Filesystem/Bridge/Azure/Tests/Unit</directory>
        </testsuite>
        <testsuite name="bridge-filesystem-azure-integration">
            <directory>src/bridge/filesystem/azure/tests/Flow/Filesystem/Bridge/Azure/Tests/Integration</directory>
        </testsuite>
        <testsuite name="bridge-filesystem-async-aws-unit">
            <directory>src/bridge/filesystem/async-aws/tests/Flow/Filesystem/Bridge/AsyncAWS/Tests/Unit</directory>
        </testsuite>
        <testsuite name="bridge-filesystem-async-aws-integration">
            <directory>src/bridge/filesystem/async-aws/tests/Flow/Filesystem/Bridge/AsyncAWS/Tests/Integration
            </directory>
        </testsuite>
        <testsuite name="bridge-monolog-http-unit">
            <directory>src/bridge/monolog/http/tests/Flow/Bridge/Monolog/Http/Tests/Unit</directory>
        </testsuite>
        <testsuite name="bridge-monolog-telemetry-unit">
            <directory>src/bridge/monolog/telemetry/tests/Flow/Bridge/Monolog/Telemetry/Tests/Unit</directory>
        </testsuite>
        <testsuite name="bridge-monolog-telemetry-integration">
            <directory>src/bridge/monolog/telemetry/tests/Flow/Bridge/Monolog/Telemetry/Tests/Integration</directory>
        </testsuite>
        <testsuite name="bridge-openapi-specification-unit">
            <directory>src/bridge/openapi/specification/tests/Flow/Bridge/OpenAPI/Specification/Tests/Unit</directory>
        </testsuite>
        <testsuite name="bridge-postgresql-valinor-unit">
            <directory>src/bridge/postgresql/valinor/tests/Flow/PostgreSql/Bridge/Valinor/Tests/Unit</directory>
        </testsuite>
        <testsuite name="bridge-psr3-telemetry-unit">
            <directory>src/bridge/psr3/telemetry/tests/Flow/Bridge/Psr3/Telemetry/Tests/Unit</directory>
        </testsuite>
        <testsuite name="bridge-psr3-telemetry-integration">
            <directory>src/bridge/psr3/telemetry/tests/Flow/Bridge/Psr3/Telemetry/Tests/Integration</directory>
        </testsuite>
        <testsuite name="bridge-psr7-telemetry-unit">
            <directory>src/bridge/psr7/telemetry/tests/Flow/Bridge/Psr7/Telemetry/Tests/Unit</directory>
        </testsuite>
        <testsuite name="bridge-psr7-telemetry-integration">
            <directory>src/bridge/psr7/telemetry/tests/Flow/Bridge/Psr7/Telemetry/Tests/Integration</directory>
        </testsuite>
        <testsuite name="bridge-psr18-telemetry-unit">
            <directory>src/bridge/psr18/telemetry/tests/Flow/Bridge/Psr18/Telemetry/Tests/Unit</directory>
        </testsuite>
        <testsuite name="bridge-psr18-telemetry-integration">
            <directory>src/bridge/psr18/telemetry/tests/Flow/Bridge/Psr18/Telemetry/Tests/Integration</directory>
        </testsuite>
        <testsuite name="bridge-symfony-http-foundation-unit">
            <directory>src/bridge/symfony/http-foundation/tests/Flow/Bridge/Symfony/HttpFoundation/Tests/Unit
            </directory>
        </testsuite>
        <testsuite name="bridge-symfony-http-foundation-integration">
            <directory>src/bridge/symfony/http-foundation/tests/Flow/Bridge/Symfony/HttpFoundation/Tests/Integration
            </directory>
        </testsuite>
        <testsuite name="bridge-symfony-http-foundation-telemetry-unit">
            <directory>src/bridge/symfony/http-foundation-telemetry/tests/Flow/Bridge/Symfony/HttpFoundationTelemetry/Tests/Unit</directory>
        </testsuite>
        <testsuite name="bridge-symfony-http-foundation-telemetry-integration">
            <directory>src/bridge/symfony/http-foundation-telemetry/tests/Flow/Bridge/Symfony/HttpFoundationTelemetry/Tests/Integration</directory>
        </testsuite>
        <testsuite name="bridge-symfony-filesystem-bundle-unit">
            <directory>src/bridge/symfony/filesystem-bundle/tests/Flow/Bridge/Symfony/FilesystemBundle/Tests/Unit</directory>
        </testsuite>
        <testsuite name="bridge-symfony-filesystem-bundle-integration">
            <directory>src/bridge/symfony/filesystem-bundle/tests/Flow/Bridge/Symfony/FilesystemBundle/Tests/Integration</directory>
        </testsuite>
        <testsuite name="bridge-symfony-filesystem-cache-unit">
            <directory>src/bridge/symfony/filesystem-cache/tests/Flow/Bridge/Symfony/FilesystemCache/Tests/Unit</directory>
        </testsuite>
        <testsuite name="bridge-symfony-filesystem-cache-integration">
            <directory>src/bridge/symfony/filesystem-cache/tests/Flow/Bridge/Symfony/FilesystemCache/Tests/Integration</directory>
        </testsuite>
        <testsuite name="bridge-symfony-postgresql-bundle-unit">
            <directory>src/bridge/symfony/postgresql-bundle/tests/Flow/Bridge/Symfony/PostgreSqlBundle/Tests/Unit</directory>
        </testsuite>
        <testsuite name="bridge-symfony-postgresql-bundle-integration">
            <directory>src/bridge/symfony/postgresql-bundle/tests/Flow/Bridge/Symfony/PostgreSqlBundle/Tests/Integration</directory>
        </testsuite>
        <testsuite name="bridge-symfony-postgresql-cache-unit">
            <directory>src/bridge/symfony/postgresql-cache/tests/Flow/Bridge/Symfony/PostgreSQLCache/Tests/Unit</directory>
        </testsuite>
        <testsuite name="bridge-symfony-postgresql-cache-integration">
            <directory>src/bridge/symfony/postgresql-cache/tests/Flow/Bridge/Symfony/PostgreSQLCache/Tests/Integration</directory>
        </testsuite>
        <testsuite name="bridge-symfony-postgresql-messenger-unit">
            <directory>src/bridge/symfony/postgresql-messenger/tests/Flow/Bridge/Symfony/PostgreSQLMessenger/Tests/Unit</directory>
        </testsuite>
        <testsuite name="bridge-symfony-postgresql-messenger-integration">
            <directory>src/bridge/symfony/postgresql-messenger/tests/Flow/Bridge/Symfony/PostgreSQLMessenger/Tests/Integration</directory>
        </testsuite>
        <testsuite name="bridge-symfony-postgresql-session-unit">
            <directory>src/bridge/symfony/postgresql-session/tests/Flow/Bridge/Symfony/PostgreSQLSession/Tests/Unit</directory>
        </testsuite>
        <testsuite name="bridge-symfony-postgresql-session-integration">
            <directory>src/bridge/symfony/postgresql-session/tests/Flow/Bridge/Symfony/PostgreSQLSession/Tests/Integration</directory>
        </testsuite>
        <testsuite name="bridge-symfony-telemetry-bundle-unit">
            <directory>src/bridge/symfony/telemetry-bundle/tests/Flow/Bridge/Symfony/TelemetryBundle/Tests/Unit</directory>
        </testsuite>
        <testsuite name="bridge-symfony-telemetry-bundle-integration">
            <directory>src/bridge/symfony/telemetry-bundle/tests/Flow/Bridge/Symfony/TelemetryBundle/Tests/Integration</directory>
        </testsuite>
        <testsuite name="bridge-telemetry-otlp-unit">
            <directory>src/bridge/telemetry/otlp/tests/Flow/Bridge/Telemetry/OTLP/Tests/Unit</directory>
        </testsuite>
        <testsuite name="bridge-telemetry-otlp-integration">
            <directory>src/bridge/telemetry/otlp/tests/Flow/Bridge/Telemetry/OTLP/Tests/Integration</directory>
        </testsuite>
        <testsuite name="adapter-avro-integration">
            <directory>src/adapter/etl-adapter-avro/tests/Flow/ETL/Adapter/Avro/Tests/Integration</directory>
        </testsuite>
        <testsuite name="adapter-chartjs-unit">
            <directory>src/adapter/etl-adapter-chartjs/tests/Flow/ETL/Adapter/ChartJS/Tests/Unit</directory>
        </testsuite>
        <testsuite name="adapter-chartjs-integration">
            <directory>src/adapter/etl-adapter-chartjs/tests/Flow/ETL/Adapter/ChartJS/Tests/Integration</directory>
        </testsuite>
        <testsuite name="adapter-csv-unit">
            <directory>src/adapter/etl-adapter-csv/tests/Flow/ETL/Adapter/CSV/Tests/Unit</directory>
        </testsuite>
        <testsuite name="adapter-csv-integration">
            <directory>src/adapter/etl-adapter-csv/tests/Flow/ETL/Adapter/CSV/Tests/Integration</directory>
        </testsuite>
        <testsuite name="adapter-doctrine-unit">
            <directory>src/adapter/etl-adapter-doctrine/tests/Flow/ETL/Adapter/Doctrine/Tests/Unit</directory>
        </testsuite>
        <testsuite name="adapter-doctrine-integration">
            <directory>src/adapter/etl-adapter-doctrine/tests/Flow/ETL/Adapter/Doctrine/Tests/Integration</directory>
        </testsuite>
        <testsuite name="adapter-excel-unit">
            <directory>src/adapter/etl-adapter-excel/tests/Flow/ETL/Adapter/Excel/Tests/Unit</directory>
        </testsuite>
        <testsuite name="adapter-excel-integration">
            <directory>src/adapter/etl-adapter-excel/tests/Flow/ETL/Adapter/Excel/Tests/Integration</directory>
        </testsuite>
        <testsuite name="adapter-google-sheet-unit">
            <directory>src/adapter/etl-adapter-google-sheet/tests/Flow/ETL/Adapter/GoogleSheet/Tests/Unit</directory>
        </testsuite>
        <testsuite name="adapter-google-sheet-integration">
            <directory>src/adapter/etl-adapter-google-sheet/tests/Flow/ETL/Adapter/GoogleSheet/Tests/Integration
            </directory>
        </testsuite>
        <testsuite name="adapter-http-unit">
            <directory>src/adapter/etl-adapter-http/tests/Flow/ETL/Adapter/HTTP/Tests/Unit</directory>
        </testsuite>
        <testsuite name="adapter-http-integration">
            <directory>src/adapter/etl-adapter-http/tests/Flow/ETL/Adapter/HTTP/Tests/Integration</directory>
        </testsuite>
        <testsuite name="adapter-json-unit">
            <directory>src/adapter/etl-adapter-json/tests/Flow/ETL/Adapter/JSON/Tests/Unit</directory>
        </testsuite>
        <testsuite name="adapter-json-integration">
            <directory>src/adapter/etl-adapter-json/tests/Flow/ETL/Adapter/JSON/Tests/Integration</directory>
        </testsuite>
        <testsuite name="adapter-logger-unit">
            <directory>src/adapter/etl-adapter-logger/tests/Flow/ETL/Adapter/Logger/Tests/Unit</directory>
        </testsuite>
        <testsuite name="adapter-parquet-unit">
            <directory>src/adapter/etl-adapter-parquet/tests/Flow/ETL/Adapter/Parquet/Tests/Unit</directory>
        </testsuite>
        <testsuite name="adapter-parquet-integration">
            <directory>src/adapter/etl-adapter-parquet/tests/Flow/ETL/Adapter/Parquet/Tests/Integration</directory>
        </testsuite>
        <testsuite name="adapter-postgresql-unit">
            <directory>src/adapter/etl-adapter-postgresql/tests/Flow/ETL/Adapter/PostgreSql/Tests/Unit</directory>
        </testsuite>
        <testsuite name="adapter-postgresql-integration">
            <directory>src/adapter/etl-adapter-postgresql/tests/Flow/ETL/Adapter/PostgreSql/Tests/Integration</directory>
        </testsuite>
        <testsuite name="adapter-seal-unit">
            <directory>src/adapter/etl-adapter-seal/tests/Flow/ETL/Adapter/Seal/Tests/Unit</directory>
        </testsuite>
        <testsuite name="adapter-seal-integration">
            <directory>src/adapter/etl-adapter-seal/tests/Flow/ETL/Adapter/Seal/Tests/Integration</directory>
        </testsuite>
        <testsuite name="adapter-text-unit">
            <directory>src/adapter/etl-adapter-text/tests/Flow/ETL/Adapter/Text/Tests/Unit</directory>
        </testsuite>
        <testsuite name="adapter-text-integration">
            <directory>src/adapter/etl-adapter-text/tests/Flow/ETL/Adapter/Text/Tests/Integration</directory>
        </testsuite>
        <testsuite name="adapter-xml-unit">
            <directory>src/adapter/etl-adapter-xml/tests/Flow/ETL/Adapter/XML/Tests/Unit</directory>
        </testsuite>
        <testsuite name="adapter-xml-integration">
            <directory>src/adapter/etl-adapter-xml/tests/Flow/ETL/Adapter/XML/Tests/Integration</directory>
        </testsuite>
        <testsuite name="bridge-phpunit-postgresql-unit">
            <directory>src/bridge/phpunit/postgresql/tests/Flow/Bridge/PHPUnit/PostgreSQL/Tests/Unit</directory>
        </testsuite>
        <testsuite name="bridge-phpunit-postgresql-integration">
            <directory>src/bridge/phpunit/postgresql/tests/Flow/Bridge/PHPUnit/PostgreSQL/Tests/Integration</directory>
        </testsuite>
        <testsuite name="bridge-phpunit-telemetry-unit">
            <directory>src/bridge/phpunit/telemetry/tests/Flow/Bridge/PHPUnit/Telemetry/Tests/Unit</directory>
        </testsuite>
        <testsuite name="tools-documentation-unit">
            <directory>src/tools/documentation/tests/Flow/Documentation/Tests/Unit</directory>
        </testsuite>
        <testsuite name="tools-documentation-integration">
            <directory>src/tools/documentation/tests/Flow/Documentation/Tests/Integration</directory>
        </testsuite>
        <testsuite name="bridge-mago-types-unit">
            <directory>src/bridge/mago/types/tests/Flow/Bridge/Mago/Types/Tests/Unit</directory>
        </testsuite>
        <testsuite name="bridge-phpstan-types-unit">
            <directory>src/bridge/phpstan/types/tests/Flow/Bridge/PHPStan/Types/Tests/Unit</directory>
        </testsuite>
    </testsuites>
    <source ignoreIndirectDeprecations="true">
        <include>
            <directory>src/adapter/**/src</directory>
            <directory>src/bridge/**/**/src</directory>
            <directory>src/core/**/src</directory>
            <directory>src/cli/src</directory>
            <directory>src/lib/**/src</directory>
        </include>
        <exclude>
            <directory>src/lib/parquet/src/Flow/Parquet/Thrift</directory>
            <directory>src/bridge/telemetry/otlp/src/GPBMetadata</directory>
            <directory>src/bridge/telemetry/otlp/src/Opentelemetry</directory>
            <directory>src/lib/postgresql/src/Flow/PostgreSql/Protobuf</directory>
            <file>src/core/etl/src/Flow/ETL/DSL/functions.php</file>
            <file>src/lib/postgresql/src/Flow/PostgreSql/DSL/functions.php</file>
            <file>src/functions.php</file>
            <file>src/tools/documentation/tests/Flow/Documentation/Tests/Integration/functions.php</file>
            <file>src/core/etl/src/Flow/ETL/DSL/functions.php</file>
            <file>src/bridge/filesystem/async-aws/src/Flow/Filesystem/Bridge/AsyncAWS/DSL/functions.php</file>
            <file>src/bridge/filesystem/azure/src/Flow/Filesystem/Bridge/Azure/DSL/functions.php</file>
            <file>src/bridge/openapi/specification/src/Flow/Bridge/OpenAPI/Specification/DSL/functions.php</file>
            <file>src/bridge/monolog/http/src/Flow/Bridge/Monolog/Http/DSL/functions.php</file>
            <file>src/bridge/symfony/http-foundation/src/Flow/Bridge/Symfony/HttpFoundation/functions.php</file>
            <file>src/adapter/etl-adapter-avro/src/Flow/ETL/Adapter/Avro/functions.php</file>
            <file>src/adapter/etl-adapter-json/src/Flow/ETL/Adapter/JSON/functions.php</file>
            <file>src/adapter/etl-adapter-http/src/Flow/ETL/Adapter/Http/DSL/functions.php</file>
            <file>src/adapter/etl-adapter-text/src/Flow/ETL/Adapter/Text/functions.php</file>
            <file>src/adapter/etl-adapter-csv/src/Flow/ETL/Adapter/CSV/functions.php</file>
            <file>src/adapter/etl-adapter-parquet/src/Flow/ETL/Adapter/Parquet/functions.php</file>
            <file>src/adapter/etl-adapter-google-sheet/src/Flow/ETL/Adapter/GoogleSheet/functions.php</file>
            <file>src/adapter/etl-adapter-chartjs/src/Flow/ETL/Adapter/ChartJS/functions.php</file>
            <file>src/adapter/etl-adapter-excel/src/Flow/ETL/Adapter/Excel/DSL/functions.php</file>
            <file>src/adapter/etl-adapter-xml/src/Flow/ETL/Adapter/XML/functions.php</file>
            <file>src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/functions.php</file>
            <file>src/adapter/etl-adapter-seal/src/Flow/ETL/Adapter/Seal/functions.php</file>
            <file>src/cli/src/Flow/CLI/DSL/functions.php</file>
            <file>src/lib/postgresql/src/Flow/PostgreSql/DSL/functions.php</file>
            <file>src/lib/types/src/Flow/Types/DSL/functions.php</file>
            <file>src/lib/filesystem/src/Flow/Filesystem/DSL/functions.php</file>
            <file>src/lib/parquet/src/Flow/Parquet/functions.php</file>
            <file>src/lib/telemetry/src/Flow/Telemetry/DSL/functions.php</file>
            <file>src/lib/azure-sdk/src/Flow/Azure/SDK/DSL/functions.php</file>
            <file>src/bridge/telemetry/otlp/src/Flow/Bridge/Telemetry/OTLP/DSL/functions.php</file>
            <file>src/bridge/postgresql/valinor/src/Flow/PostgreSql/Bridge/Valinor/DSL/functions.php</file>
        </exclude>
    </source>
    <extensions>
        <bootstrap class="Flow\Bridge\PHPUnit\Telemetry\TelemetryExtension">
            <parameter name="service_name" value="flow-php-test-suite"/>
            <parameter name="endpoint" value="http://localhost:4318"/>
            <parameter name="emit_traces" value="true"/>
            <parameter name="emit_metrics" value="true"/>
            <parameter name="emit_test_spans" value="false"/>
            <parameter name="emit_test_case_spans" value="false"/>
        </bootstrap>
        <bootstrap class="Flow\Bridge\PHPUnit\PostgreSQL\PostgreSQLExtension"/>
    </extensions>
</phpunit>
