<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         colors="true" bootstrap="vendor/autoload.php"
         cacheResultFile="var/phpunit/.result.cache"
         executionOrder="random"
>
    <coverage>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <report>
            <html outputDirectory="var/phpunit/coverage/html" lowUpperBound="95" highLowerBound="100"/>
        </report>
    </coverage>

    <logging/>

    <php>
        <env name="PGSQL_DATABASE_URL" value="postgresql://postgres:postgres@127.0.0.1:5432/postgres?serverVersion=11%26charset=utf8" />
    </php>

    <testsuites>
        <testsuite name="unit">
            <directory suffix=".php">tests/Flow/Doctrine/Bulk/Tests/Unit</directory>
        </testsuite>
        <testsuite name="integration">
            <directory suffix=".php">tests/Flow/Doctrine/Bulk/Tests/Integration</directory>
        </testsuite>
    </testsuites>
</phpunit>
