<?xml version="1.0"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="tools/phpunit/vendor/phpunit/phpunit/phpunit.xsd"
        bootstrap="vendor/autoload.php"
        colors="true"
        cacheResultFile="./var/phpunit/phpunit.cache"
        displayDetailsOnTestsThatTriggerWarnings="true"
        displayDetailsOnTestsThatTriggerErrors="true"
        executionOrder="random"
>
  <coverage cacheDirectory="./var/phpunit/">
    <report>
      <html outputDirectory="var/phpunit/coverage/html" lowUpperBound="75" highLowerBound="95"/>
    </report>
  </coverage>
  <php>
    <env name="PGSQL_DATABASE_URL" value="pgsql://postgres:postgres@127.0.0.1:5432/postgres?serverVersion=11%26charset=utf8"/>
    <env name="MYSQL_DATABASE_URL" value="mysql://mysql:mysql@127.0.0.1:3306/mysql"/>
    <env name="SQLITE_DATABASE_URL" value="sqlite:///:memory:"/>
    <env name="ELASTICSEARCH_URL" value="localhost:9200"/>
    <env name="MEILISEARCH_URL" value="http://localhost:7700"/>
    <env name="MEILISEARCH_API_KEY" value="masterKey"/>
    <env name="FLOW_LOCAL_FILESYSTEM_CACHE_DIR" value="./var/cache"/>
    <env name="FLOW_PARQUET_TESTS_DEBUG" value="0"/> <!-- change to 1 in order to display logs in parquet integration tests -->
  </php>
  <testsuites>
    <testsuite name="unit">
      <directory>src/adapter/**/**/**/**/**/**/Tests/Unit</directory>
      <directory>src/core/etl/tests/Flow/ETL/Tests/Unit</directory>
      <directory>src/lib/**/**/**/**/Tests/Unit</directory>
      <directory>src/lib/doctrine-dbal-bulk/tests/Flow/Doctrine/Bulk/Tests/Unit</directory>
    </testsuite>
    <testsuite name="integration-io">
      <directory>src/adapter/**/**/**/**/**/**/Tests/Integration</directory>
      <directory>src/core/etl/tests/Flow/ETL/Tests/Integration</directory>
      <directory>src/lib/**/**/**/**/Tests/Integration</directory>
      <directory>src/lib/doctrine-dbal-bulk/tests/Flow/Doctrine/Bulk/Tests/Integration</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">src/adapter/**/src</directory>
      <directory suffix=".php">src/core/**/src</directory>
      <directory suffix=".php">src/lib/**/src</directory>
    </include>
    <exclude>
      <directory suffix=".php">src/lib/parquet/src/Flow/Parquet/Thrift</directory>
      <file>src/core/etl/src/Flow/ETL/DSL/functions.php</file>
    </exclude>
  </source>
</phpunit>
