<?xml version="1.0"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../tools/phpunit/vendor/phpunit/phpunit/phpunit.xsd"
        bootstrap="tests/autoload.php"
        colors="true"
        cacheDirectory="./var/phpunit/"
        displayDetailsOnTestsThatTriggerWarnings="true"
        displayDetailsOnTestsThatTriggerErrors="true"
        executionOrder="random"
>
  <php>
    <env name="APP_ENV" value="test"/>
  </php>
  <testsuites>
    <testsuite name="unit">
      <directory>tests/Flow/Website/Tests/Unit</directory>
    </testsuite>
    <testsuite name="integration">
      <directory>tests/Flow/Website/Tests/Integration</directory>
    </testsuite>
    <testsuite name="functional">
      <directory>tests/Flow/Website/Tests/Functional</directory>
      <exclude>tests/Flow/Website/Tests/Functional/PlaygroundExamplesTest.php</exclude>
    </testsuite>
    <!-- every published example through the real playground: minutes, run on demand -->
    <testsuite name="examples">
      <file>tests/Flow/Website/Tests/Functional/PlaygroundExamplesTest.php</file>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </source>
</phpunit>
