services:
    postgres:
        image: postgres:13.6-alpine
        container_name: flow-adapter-doctrine-db
        ports:
            - 5432:5432
        environment:
            - POSTGRES_USER=postgres
            - POSTGRES_PASSWORD=postgres
            - POSTGRES_DB=postgres
