{% extends 'base.html.twig' %}

{%- block title -%}
    Flow PHP - Changelog
{%- endblock -%}

{%- block description -%}
    Flow is a PHP-based, strongly typed data processing framework with low memory footprint that can process various data sources consistently.
    It offers a unified API for all data sources, including CSV, JSON, XML, Text, Parquet, Avro, Rest API, RDBMS, Elasticsearch / Meilisearch.
    Flow not only enables you to process various data sources consistently, but also strives to accurately detect data types and cast them to the appropriate PHP types.
{%- endblock -%}

{% block main %}
    <section id="changelog" class="py-10 px-2 sm:px-4 mx-auto max-w-screen-xl">
        {{ changelog_markdown|markdown_to_html }}
    </section>
{% endblock %}
