{% extends 'base.html.twig' %}

{%- block description -%}
    Flow PHP main page with code examples.
{%- endblock -%}

{% block main %}
    <div class="py-10 px-2 sm:px-4 mx-auto max-w-screen-xl" data-hx-boost="true">
        <h2 class="mb-4 text-2xl font-semibold tracking-wide">Examples:</h2>
        <nav class="font-medium text-center bg-orange-100 rounded">
            <ul class="flex whitespace-nowrap overflow-auto justify-between">
                {% for topic in topics %}
                    <li class="grow">
                        <a href="{{ path('topic', {topic: topic}) }}#example" class="inline-block leading-10 px-4 py-2 w-full [&.active]:bg-orange-300 rounded">
                            {{ topic|humanize }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </div>

    <div class="mx-auto max-w-screen-xl mb-10 px-4 grid gap-4 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3">
        {% for i in 1..6 %}
            <section class="shadow-2xl shadow-gray rounded border-gray border-2 p-4 rounded">
                <img src="{{ asset('images/icons/tools.svg') }}" width="32" height="32" alt="feature" class="inline mr-4 bg-blue-100 p-1 rounded">
                <h2 class="inline">Flow PHP Feature #{{ i }}</h2>
                <hr class="text-blue-100 my-4 border-t-2 rounded">
                {% if i is odd %} {# TODO: if key feature subtitle is optional #}
                    <h3 class="mb-4">This feature is awesome</h3>
                {% endif %}
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </section>
        {% endfor %}
    </div>
{% endblock %}
