<?xml version="1.0"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../phpunit/vendor/phpunit/phpunit/phpunit.xsd"
        bootstrap="../../vendor/autoload.php"
        colors="true"
        displayDetailsOnTestsThatTriggerWarnings="true"
        displayDetailsOnTestsThatTriggerErrors="true"
        cacheDirectory="../../var/phpunit/infection-cache"
>
  <testsuites>
    <testsuite name="infection">
      <directory>../../src/core/etl/tests/Flow/ETL/Tests/Unit</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory>../../src/core/etl/src/Flow/ETL</directory>
    </include>
    <exclude>
      <directory>../../src/core/etl/src/Flow/ETL/DSL</directory>
    </exclude>
  </source>
</phpunit>
