<?xml version="1.0"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../phpunit/vendor/phpunit/phpunit/phpunit.xsd"
        bootstrap="../../vendor/autoload.php"
        colors="true"
        displayDetailsOnTestsThatTriggerWarnings="true"
        displayDetailsOnTestsThatTriggerErrors="true"
        cacheDirectory="../../var/phpunit/infection-cache"
>
  <testsuites>
    <testsuite name="infection">
      <directory>../../src/core/etl/tests/Flow/ETL/Tests/Unit</directory>
      <directory>../../src/lib/array-dot/tests/Flow/ArrayDot/Tests/Unit</directory>
      <directory>../../src/lib/dremel/tests/Flow/Dremel/Tests/Unit</directory>
      <directory>../../src/lib/types/tests/Flow/Types/Tests/Unit</directory>
      <directory>../../src/lib/doctrine-dbal-bulk/tests/Flow/Doctrine/Bulk/Tests/Unit</directory>
      <directory>../../src/lib/filesystem/tests/Flow/Filesystem/Tests/Unit</directory>
      <directory>../../src/lib/parquet/tests/Flow/Parquet/Tests/Unit</directory>
      <directory>../../src/lib/telemetry/tests/Flow/Telemetry/Tests/Unit</directory>
      <directory>../../src/bridge/monolog/telemetry/tests/Flow/Bridge/Monolog/Telemetry/Tests/Unit</directory>
      <directory>../../src/bridge/symfony/http-foundation-telemetry/tests/Flow/Bridge/Symfony/HttpFoundationTelemetry/Tests/Unit</directory>
      <directory>../../src/bridge/psr7/telemetry/tests/Flow/Bridge/Psr7/Telemetry/Tests/Unit</directory>
      <directory>../../src/bridge/telemetry/otlp/tests/Flow/Bridge/Telemetry/OTLP/Tests/Unit</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">../../src/core/etl/src</directory>
      <directory suffix=".php">../../src/lib/array-dot/src</directory>
      <directory suffix=".php">../../src/lib/dremel/src</directory>
      <directory suffix=".php">../../src/lib/types/src</directory>
      <directory suffix=".php">../../src/lib/doctrine-dbal-bulk/src</directory>
      <directory suffix=".php">../../src/lib/filesystem/src</directory>
      <directory suffix=".php">../../src/lib/parquet/src</directory>
      <directory suffix=".php">../../src/lib/telemetry/src</directory>
      <directory suffix=".php">../../src/bridge/monolog/telemetry/src</directory>
      <directory suffix=".php">../../src/bridge/symfony/http-foundation-telemetry/src</directory>
      <directory suffix=".php">../../src/bridge/psr7/telemetry/src</directory>
      <directory suffix=".php">../../src/bridge/telemetry/otlp/src</directory>
    </include>
    <exclude>
      <directory suffix=".php">../../src/lib/parquet/src/Flow/Parquet/Thrift</directory>
      <directory suffix=".php">../../src/core/etl/src/Flow/ETL/DSL</directory>
      <directory suffix=".php">../../src/lib/array-dot/src/Flow/ArrayDot/DSL</directory>
      <directory suffix=".php">../../src/lib/dremel/src/Flow/Dremel/DSL</directory>
      <directory suffix=".php">../../src/lib/types/src/Flow/Types/DSL</directory>
      <directory suffix=".php">../../src/lib/doctrine-dbal-bulk/src/Flow/Doctrine/Bulk/DSL</directory>
      <directory suffix=".php">../../src/lib/filesystem/src/Flow/Filesystem/DSL</directory>
      <directory suffix=".php">../../src/lib/parquet/src/Flow/Parquet/DSL</directory>
      <directory suffix=".php">../../src/lib/telemetry/src/Flow/Telemetry/DSL</directory>
      <directory suffix=".php">../../src/bridge/monolog/telemetry/src/Flow/Bridge/Monolog/Telemetry/DSL</directory>
      <directory suffix=".php">../../src/bridge/symfony/http-foundation-telemetry/src/Flow/Bridge/Symfony/HttpFoundationTelemetry/DSL</directory>
      <directory suffix=".php">../../src/bridge/psr7/telemetry/src/Flow/Bridge/Psr7/Telemetry/DSL</directory>
      <directory suffix=".php">../../src/bridge/telemetry/otlp/src/Flow/Bridge/Telemetry/OTLP/DSL</directory>
    </exclude>
  </source>
</phpunit>
