# Composer
/vendor/
composer.lock

# Rust/Cargo build artifacts
/target/

# Extension output
/ext/modules/
/ext/arrow.c

# Build artifacts from phpize (if config.m4 is used)
/ext/.libs/
/ext/acinclude.m4
/ext/aclocal.m4
/ext/autom4te.cache/
/ext/build/
/ext/config.guess
/ext/config.h
/ext/config.h.in
/ext/config.log
/ext/config.nice
/ext/config.status
/ext/config.sub
/ext/configure
/ext/configure.ac
/ext/install-sh
/ext/libtool
/ext/ltmain.sh
/ext/Makefile
/ext/Makefile.fragments
/ext/Makefile.global
/ext/Makefile.objects
/ext/missing
/ext/mkinstalldirs
/ext/run-tests.php
/ext/*.la
/ext/*.lo
/ext/*.o
/ext/*.dep
