name: Build Release Artifact

on:
  release:
    types:
      - published

jobs:
  build-release-artifact:
    name: "Build Release Artifacts"
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        php-version:
          - "8.1"
        operating-system:
          - "ubuntu-latest"

    steps:
      - name: "Checkout"
        uses: "actions/checkout@v4"
        with:
          fetch-depth: 0

      - name: "Install PHP"
        uses: "shivammathur/setup-php@v2"
        with:
          coverage: none
          tools: composer:v2
          php-version: "${{ matrix.php-version }}"
          ini-values: memory_limit=-1

      - name: "Get Composer Cache Directory"
        id: composer-cache
        run: |
          echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - name: "Cache Composer dependencies"
        uses: "actions/cache@v3"
        with:
          path: "${{ steps.composer-cache.outputs.dir }}"
          key: "php-${{ matrix.php-version }}-locked-composer-${{ hashFiles('**/composer.lock') }}"
          restore-keys: |
            php-${{ matrix.php-version }}-locked-composer-

      - name: "Install locked dependencies"
        run: "composer install --no-interaction --no-progress"

      - name: "Build PHAR file"
        run: "composer build:phar"

      - name: "Validate Flow PHAR"
        run: |
          ./build/flow.phar --version
          ./build/flow.phar run examples/topics/transformations/array_expand.php

      - name: "Import GPG Key"
        uses: crazy-max/ghaction-import-gpg@72b6676b71ab476b77e676928516f6982eef7a41
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}

      - name: "Sign PHAR"
        run: >
          gpg
          --batch
          --yes
          --local-user="${{ secrets.GPG_USER_EMAIL }}"
          --passphrase="${{ secrets.GPG_PASSPHRASE }}"
          --pinentry-mode="loopback"
          --detach-sign
          --output="./build/flow.phar.asc"
          ./build/flow.phar

      - name: "Prepare artifact name"
        run: |
          BUILD_TAG=${{ github.ref_name }}
          BUILD_TAG=${BUILD_TAG//[-._]/}
          echo "BUILD_TAG=$BUILD_TAG" >> $GITHUB_ENV

      - name: "Upload binaries to release"
        uses: softprops/action-gh-release@v1
        if: ${{startsWith(github.ref, 'refs/tags/') }}
        with:
          files: |
            build/flow.phar
            build/flow.phar.asc
